﻿<%@ Page Title="" Language="C#" MasterPageFile="~/defftunes.Master" AutoEventWireup="true" CodeBehind="Callback.aspx.cs" Inherits="SpotifyAPI.Callbacks" %>
<%--<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>--%>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
