﻿<%@ Page Title="" Language="C#" MasterPageFile="~/defftunes.Master" AutoEventWireup="true" CodeBehind="GetAlbum.aspx.cs" Inherits="SpotifyAPI.GetAlbum" %>
<%--<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>--%>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <form class=""  runat="server">
        <div class="form-group">
            <div class="resultClass container"><span id="showResult" runat="server" ></span></div>
        </div>
    </form>
</asp:Content>
