﻿<%@ Page Title="" Language="C#" MasterPageFile="~/defftunes.Master" AutoEventWireup="true" CodeBehind="SpotifyEntry.aspx.cs" Inherits="SpotifyAPI.SpotifyEntry" %>
<%--<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>--%>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <form class=""  runat="server">
        <div class="form-group">
            <asp:Button runat="server" type="button" class="btn btn-success" onclick="AuthorizeButton_Click" text="Authorize"></asp:Button>
        </div>
    </form>
</asp:Content>
