﻿#MainContent_ResponseLabel3
{
    white-space: pre-wrap;
    color: black;
    background-color: none;
}

.resultClass.container {
    padding-top: 15px;
}

.center-block
{
    color: red;
    width: 50%;
    margin: 0 auto; 
}

.bordered .highlight {
  border: 10px solid orange;
  background: transparent;
  border-radius: 25px;
  border-color: #4cae4c;
}

.locale_1, .locale_2 {
    display: block;
    float: left;       
}